*.DS_Store
*.orig
*/bin/*
bin/*
*.class
*/jar/*
urbanairship-lib-*.jar
*.pyc
gen/
build/
build.properties
local.properties
.settings/
#airshipconfig.properties
deploy/build.properties
deploy/releases/
proguard/
.gradle/
*.iml
.idea/
